/* -----------------------------------------------------------------------------

      ABOUT: Fusion Qt Style Sheet for NetRadiant-Custom.
             Minimal overrides for the system Fusion style.

       FILE: fusion.qss
    VERSION: 1.0

----------------------------------------------------------------------------- */

/* ---- QToolTip ---- */

QToolTip {
	margin: 0px;
	border: 1px solid palette(mid);
	border-radius: 0px;
	padding: 0px;
}
